
:root {
    --primary-color: #333;
    --secondary-color: #555;
    --accent-color: #f4a261;

    --background-color: #f4f4f4;
    --text-color: #333;
}

/* Style général du site */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

p {
    font-size: 14px;
    color: var(--secondary-color);
    margin-top: 12px;
    opacity: .6;
}

/* scrollbar */

::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
    height: 3px;
}

::-webkit-scrollbar-track {
    width: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: var(--background-color);
}

/* En-tête / header */

header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
}

.img-logo {
    width: 50px;
    height: 50px;
    background-color: white;
    /* Placeholder pour l'image du logo */
    margin-right: 20px;
}

.txt-logo {
    font-size: 24px;
    font-weight: bold;
    padding-left: 5px;

}

nav {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

a.navbar-nav:link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
}

a.navbar-nav:visited {
    border-bottom: 2px solid var(--accent-color);
    color: white;
}

a.navbar-nav:hover {
    border-bottom: 2px solid var(--accent-color);
}

a.navbar-nav:active {
    border-bottom: 2px solid var(--accent-color);
}

/* section présentation du restaurant */

section.présentation-resto {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-principal-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 75%;
}

.description-resto {}

img.img-resto {
    width: 50%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

a.btn-index {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
}

/* section témoignages */

section.témoignages {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
}

img.img-temoignage {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

img.img-temoignage:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.grid-temoignages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    align-items: center;
    justify-items: center;
    color: white;
}

.temoignage-background {
    display: flex;
    flex-direction: row;
    background-color: var(--accent-color);
    border-radius: 15px;
    padding: 20px;
    color: white;
    opacity: 0.8;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center
}

.pseudo-note {
    font-weight: bold;
    width: 60%;
    text-align: center;
}

.stars {
    color: gold;
    font-size: 16px;
    margin-top: 0px;
}

.temoignage-content {
    margin-top: 10px;
    font-size: 14px;
    color: white;
    opacity: 0.9;
    overflow: auto;
    height: 100px;
    padding: 5px;
    font-size: 12px;
}

/* formulaire de réservation */
form {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

p {
    margin-top: 0px;
}

fieldset {
    margin-bottom: 15px;
    padding: 10px;
}

legend {
    padding: 0px 3px;
    font-weight: bold;
    font-variant: small-caps;
}

label {
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
}

em {
    font-weight: bold;
    font-style: normal;
    color: #f00;
}

input:focus {
    background: #eaeaea;
}

input,
textarea {
    width: 249px;
}

textarea {
    height: 100px;
}

select {
    width: 254px;
}

input[type=checkbox] {
    width: 10px;
}

input[type=submit] {
    width: 150px;
    padding: 10px;
}

/* date de réservation */
input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

input[type="date"]:focus {
    border-color: blue;
    outline: none;
}

/* liste déroulante */

select {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    /* Supprime la flèche par défaut dans certains navigateurs */
    appearance: none;
    -webkit-appearance: none;
}

select:focus {
    outline: none;
    border-color: #007bff;
}

/* grid de la page restauration */
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

/* ext-resto — petit haut gauche */
.container div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

/* resto-img — petit haut, 2e */
.container div:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

/* sushi — grand droite, s'étend sur 2 lignes */
.container div:nth-child(3) {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}

/* terrasse — grand gauche, s'étend sur 2 lignes */
.container div:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

/* sushi2 — petit bas droite */
.container div:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

/* chef — petit bas droite */
.container div:nth-child(6) {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

/* images prennent tout l'espace du div */
.container img {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.carre-small img {
    max-width: 295px;
    height: 250px;
    object-fit: cover;
}


.carre-large img {
    max-width: 600px;
    height: 500px;
    object-fit: cover;
}

.contact-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

section.menu {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    display: flex;
    gap: 50px;
}

/* footer */
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

footer div {
    margin: 0 10px;
    font-size: 12px;
}

.flex-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.credit {
    font-weight: bold;
}